genre로 컬럼 구성해서 장르별 positive,negative,mixed,imdifference의 평균 정보가 담긴 df 만들기

In [63]:
import pandas as pd

In [64]:
path = r"C:\Users\NT550-052\OneDrive\바탕 화면\ASAC\프로젝트\ML\web_crawling\CGW\modeling\onlyonehot\onlyonehot.csv"
data = pd.read_csv(path, sep=";")
data.drop(columns="Unnamed: 0",inplace=True)

In [65]:
data

,appid,24_Hour_Peak,All_time_peak,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,genre,...,short,simulation,softwaretraining,sports,strategy,tutorial,utilities,videoproduction,violent,webpublishing
0,294100,20930,60742,12492,1401,5368,921,34.99,34.99,"Indie, Simulation, Strategy",...,0,1,0,0,1,0,0,0,0,0
1,960090,13428,53891,4018,277,1532,62,13.99,13.99,Strategy,...,0,0,0,0,1,0,0,0,0,0
2,504230,1234,4148,1316,310,370,582,19.99,19.99,"Action, Adventure, Indie",...,0,0,0,0,0,0,0,0,0,0
3,588650,4553,14880,1841,183,868,213,14.99,24.99,"Action, Adventure, Indie",...,0,0,0,0,0,0,0,0,0,0
4,264710,4205,50876,1943,313,941,277,29.99,29.99,"Adventure, Indie",...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46247,1995280,0,0,0,0,0,0,14.99,14.99,"Adventure, Indie",...,0,0,0,0,0,0,0,0,0,0
46248,2098860,0,0,0,0,0,0,9.99,9.99,"Adventure, Casual",...,0,0,0,0,0,0,0,0,0,0
46249,2154770,814,1176,0,0,0,0,0.00,0.00,N,...,0,0,0,0,0,0,0,0,0,0
46250,1915410,0,1,0,0,0,0,2.99,2.99,"Action, Indie",...,0,0,0,0,0,0,0,0,0,0
46251,1563130,4,97,0,0,0,0,29.99,29.99,"Simulation, Strategy",...,0,1,0,0,1,0,0,0,0,0

In [66]:
# action 장르
# window, mac, linux (%)
tot = len(data)
window = len(data[(data["action"]==1)&(data["windows"]==1)])/tot
window_p = len(data[(data["action"]==1)&(data["windows"]==1)&(data["Review"]=="Positive")])/tot
window_n = len(data[(data["action"]==1)&(data["windows"]==1)&(data["Review"]=="Negative")])/tot

mac = len(data[(data["action"]==1)&(data["mac"]==1)])/tot
mac_p = len(data[(data["action"]==1)&(data["mac"]==1)&(data["Review"]=="Positive")])/tot
mac_n = len(data[(data["action"]==1)&(data["mac"]==1)&(data["Review"]=="Negative")])/tot

linux = len(data[(data["action"]==1)&(data["linux"]==1)])/tot
linux_p = len(data[(data["action"]==1)&(data["linux"]==1)&(data["Review"]=="Positive")])/tot
linux_n = len(data[(data["action"]==1)&(data["linux"]==1)&(data["Review"]=="Negative")])/tot

In [67]:
print(window,mac,linux)

0.38871832569402404 0.05532733719622935 0.04136037360546571

In [68]:
data.filter(regex=r'Re')

         Review
0      Positive
1      Positive
2      Positive
3      Positive
4      Positive
...         ...
46247  Negative
46248  Negative
46249  Negative
46250  Negative
46251  Negative

[46252 rows x 1 columns]

In [69]:
col = ['appid', 'price', 'achievements', 'dlc', 'All_time_peak', 'Review']

In [70]:
data[col]

         appid  price  achievements  dlc  All_time_peak    Review
0       294100  34.99           0.0  6.0          60742  Positive
1       960090  13.99         146.0  1.0          53891  Positive
2       504230  19.99          32.0  1.0           4148  Positive
3       588650  14.99         121.0  7.0          14880  Positive
4       264710  29.99          17.0  1.0          50876  Positive
...        ...    ...           ...  ...            ...       ...
46247  1995280  14.99           0.0  1.0              0  Negative
46248  2098860   9.99           0.0  0.0              0  Negative
46249  2154770   0.00           0.0  0.0           1176  Negative
46250  1915410   2.99           0.0  0.0              1  Negative
46251  1563130  29.99          35.0  0.0             97  Negative

[46252 rows x 6 columns]

In [71]:
data[col].pivot_table( index='Review',  values = ['price', 'achievements', 'dlc', 'All_time_peak'] , aggfunc='mean')

          All_time_peak  achievements       dlc     price
Review
Negative     328.120821     16.386651  0.290873  6.081459
Positive    1096.793553     26.907874  0.738915  8.171114

In [72]:
cond = (data['action'] == 1)

In [73]:
data[cond][['windows', 'mac', 'linux', 'Review']].pivot_table( columns='Review', values=['windows', 'mac', 'linux'], aggfunc='sum')/ len(data)

Review   Negative  Positive
linux    0.022010  0.019351
mac      0.028626  0.026702
windows  0.240919  0.147799

In [74]:
path = r"C:\Users\NT550-052\OneDrive\바탕 화면\ASAC\프로젝트\ML\web_crawling\CGW\report\report_mean.csv"
c_data = pd.read_csv(path, sep=";")
c_data

,Unnamed: 0,24_Hour_Peak,All_time_peak,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,num_lang,required_age,controller_support,dlc,metacritic_tf,platforms_num,achievements,days_after_release,months_after_release
0,360v Positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,360v Negative,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,4.990000,4.990000,38.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,947.000000,31.000000
2,accounting Positive,0.000000,109.000000,49.000000,0.00000,73.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1900.000000,63.000000
3,accounting Negative,0.000000,0.666667,0.000000,0.00000,0.000000,0.000000,3.323333,3.323333,13.333333,0.000000,0.333333,0.666667,0.000000,1.000000,0.333333,1154.666667,38.000000
4,action Positive,148.020706,1702.654418,185.580782,17.03762,148.636045,18.937154,9.387332,10.185900,7.144794,0.267717,0.407699,0.877078,0.073053,1.307378,26.214348,987.808836,32.447944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,videoproduction Negative,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,8.490000,8.490000,20.500000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,905.500000,29.500000
68,violent Positive,0.238095,33.190476,24.047619,0.00000,28.095238,0.000000,5.200000,5.371429,2.142857,0.000000,0.190476,0.000000,0.000000,1.333333,7.285714,1836.952381,60.666667
69,violent Negative,0.000000,0.852273,0.295455,0.00000,0.306818,0.000000,6.558750,6.989886,1.852273,0.000000,0.079545,0.034091,0.022727,1.159091,3.147727,1846.215909,61.022727
70,webpublishing Positive,79.333333,494.333333,41.666667,0.00000,48.333333,0.000000,0.330000,0.330000,17.666667,0.000000,0.000000,0.000000,0.000000,1.333333,33.000000,1544.333333,51.000000
71,webpublishing Negative,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,4.990000,4.990000,38.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,947.000000,31.000000

In [75]:
c_data[(c_data["Unnamed: 0"] == "action Positive") | (c_data["Unnamed: 0"] == "action Negative")]

,Unnamed: 0,24_Hour_Peak,All_time_peak,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,num_lang,required_age,controller_support,dlc,metacritic_tf,platforms_num,achievements,days_after_release,months_after_release
4,action Positive,148.020706,1702.654418,185.580782,17.037620,148.636045,18.937154,9.387332,10.185900,7.144794,0.267717,0.407699,0.877078,0.073053,1.307378,26.214348,987.808836,32.447944
5,action Negative,81.010195,587.789215,38.923448,2.296101,31.954033,2.717045,6.760024,7.045979,4.161957,0.153997,0.231533,0.385530,0.010106,1.205956,20.854319,1008.439725,33.131640

In [76]:
data.columns[:22]

Index(['appid', '24_Hour_Peak', 'All_time_peak', 'average_forever',
       'average_2weeks', 'median_forever', 'median_2weeks', 'price',
       'initialprice', 'genre', 'num_lang', 'required_age', 'is_free',
       'controller_support', 'dlc', 'metacritic_tf', 'windows', 'mac', 'linux',
       'platforms_num', 'achievements', 'days_after_release'],
      dtype='object')

In [77]:
# 실제 데이터 넣은 결과
tag_path = r"C:\Users\NT550-052\OneDrive\바탕 화면\ASAC\프로젝트\ML\web_crawling\merge_dataset\tag_merge.csv"
tag_df = pd.read_csv(tag_path)
tag_df.iloc[:,1:] = tag_df.iloc[:,1:].astype("bool")
tag_df.iloc[:,1:] = tag_df.iloc[:,1:].astype("int")
data = pd.merge(data,tag_df,how="inner",left_on="appid",right_on="appid")
data["tag_num"] = tag_df.iloc[:,1:].sum(axis=1)
data.drop(columns=["genre","appid"],inplace=True)
X = data.drop(columns="Review")
y = data["Review"]
# data.drop(columns=["genre","appid"],inplace=True)

In [78]:
from sklearn.model_selection import train_test_split 



X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size = 0.2,
    random_state = 1234, # 옵션, 재현성을 위함 
    stratify = y # 옵션 : 비율 나눌 때 비율 유지할지 말지 
)
X_train["Review"] = y_train.to_list()

In [79]:
X_test.columns[:21]

Index(['24_Hour_Peak', 'All_time_peak', 'average_forever', 'average_2weeks',
       'median_forever', 'median_2weeks', 'price', 'initialprice', 'num_lang',
       'required_age', 'is_free', 'controller_support', 'dlc', 'metacritic_tf',
       'windows', 'mac', 'linux', 'platforms_num', 'achievements',
       'days_after_release', 'months_after_release'],
      dtype='object')

In [80]:
df = pd.DataFrame(columns=X_test.columns)
df.loc[0] = [0 for _ in range(len(X_test.columns))]

In [81]:
#2136470
new_data = [1,7,0,0,0,0,459,459,3,0,0,0,0,0,1,0,0,1,17,15]
len(new_data) == len(X_test.columns[:21])

False

In [82]:
genre = "Action, Indie".split(", ")
tag = """
Arena Shooter
Action RPG
Action Roguelike
Action
Arcade
Roguelike
Colorful
Roguelite
Top-Down
Score Attack
Futuristic
Shooter
Atmospheric
Sci-fi
Post-apocalyptic
3D
Survival
PvE
Combat
Singleplayer""".split("\n")

In [83]:
for elem in genre:
    df.loc[0,elem] = 1
for elem in tag[1:]:
    df.loc[0,elem] = 1

In [84]:
len(X_test.columns)

504

In [85]:
df

,24_Hour_Peak,All_time_peak,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,num_lang,required_age,...,FMV,Lemmings,Tile-Matching,Indie,Arcade,Atmospheric,Cats,tag_num,Roguelike,Roguelite
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,1,0,0,1.0,1.0

In [86]:
df.filter(regex=r'rogue|Rogue')

,Action Roguelike,Traditional Roguelike,Roguelike Deckbuilder,Rogue-lite,Roguevania,Rogue-like,Roguelike,Roguelite
0,1,0,0,0,0,0,1.0,1.0

In [87]:
df['Rogue-like'] = 1
df['Rogue-lite'] = 1
df.drop(columns=["Roguelike","Roguelite"],inplace=True)

In [88]:
for i in range(len(new_data)):
    df.iloc[:,i] = new_data[i]

In [89]:
df["tag_num"] = 20

In [90]:
df

,24_Hour_Peak,All_time_peak,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,num_lang,required_age,...,Linear,Grid-Based Movement,FMV,Lemmings,Tile-Matching,Indie,Arcade,Atmospheric,Cats,tag_num
0,1,7,0,0,0,0,459,459,3,0,...,0,0,0,0,0,1,1,1,0,20

In [91]:
from pycaret.classification import *

In [92]:
exp = ClassificationExperiment()
exp.setup(X_train, target='Review', session_id=123, fold_strategy="stratifiedkfold",fix_imbalance=True)

In [93]:
model = load_model(r'C:\Users\NT550-052\OneDrive\바탕 화면\ASAC\프로젝트\ML\web_crawling\CGW\modeling\code\tagonehot\pycaret\voting_model_file')

Transformation Pipeline and Model Successfully Loaded

In [102]:
df.loc[0]

24_Hour_Peak        1
All_time_peak       7
average_forever     0
average_2weeks      0
median_forever      0
                   ..
Indie               1
Arcade              1
Atmospheric         1
Cats                0
tag_num            20
Name: 0, Length: 504, dtype: int64

In [100]:
prediction = exp.predict_model(model, data = df.loc[0])
prediction

AttributeError: 'Series' object has no attribute 'columns'

In [97]:
X_train.columns[:22]

Index(['24_Hour_Peak', 'All_time_peak', 'average_forever', 'average_2weeks',
       'median_forever', 'median_2weeks', 'price', 'initialprice', 'num_lang',
       'required_age', 'is_free', 'controller_support', 'dlc', 'metacritic_tf',
       'windows', 'mac', 'linux', 'platforms_num', 'achievements',
       'days_after_release', 'months_after_release', '360v'],
      dtype='object')